{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}



{% block content %}
<div class="card   my-5 py-4 ">
    <div class="card-body text-center">
        <h2> Войти в систему </h2>
    </div> 
    <div class="card-footer text-center">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>

            <input class="btn btn-primary btn-sm" type="submit" value="Войти">
        </form>
        <p></p>
        <a class="btn btn-primary btn-sm" href="/sign/signup"> Регистрация </a>
    </div>
</div>
{% endblock %}