{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}



{% block content %}
<div class="card   my-5 py-4 ">
    <div class="card-body text-center">
        <h2> Регистрация </h2>
    </div> 
    <div class="card-footer text-center">
        <form method="post">
            {% csrf_token %}
           <p> {{ form.as_p }}</p>
            <input class="btn btn-primary btn-sm" type="submit" value="Продолжить">
        </form>
    </div>
</div>
{% endblock %}