{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News portal
{% endblock title %}

{% block content %}
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Всего постов: {{ posts|length}}</p>  </div>  
    </div>
<!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {% if posts %}
            {% for post in posts %}
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ post.heading|censor }} </h5>
                    <h4 class="card-title">{{ post.date|date:'d M Y' }}</h4>
                    <p class="card-text">{{ post.text|truncatewords:20|censor }}</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href={{post.id|post_id}}>Читать дальше</a></div>
            </div>
        </div>
            {% endfor %}       
        {% else %}
        <div class="card   my-5 py-4 ">
            <div class="card-body text-center">
                <h1 class="font-weight-light">Постов нет!</h1>    
            </div>  
        </div> 
        {% endif %}
</div>
{% endblock content %}

