{% extends 'flatpages/default.html' %}

{% block title %}
News portal
{% endblock title %}



{% block content %}
<div class="card   my-5 py-4 ">
    <div class="card-body text-center">
        <h1 class="font-weight-light"> {{post.item}} Изменение публикации</h1>  
    </div>  
    <div class="card-footer text-center">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary btn-sm" type="submit" value="Save" />
        </form>
       
    </div>
</div> 
{% endblock content %}